{% extends "base.html" %}
{% block main %}
<div style="width: 600px; margin: auto;">
  <h1 class="highlight">About us</h1>
  <br/>
  <h2 class="highlight">Lady Penh?</h2>    
  <div>
    <p>The original <em>Lady Penh</em> is the mythical founder of Phnom
      Penh. See <a href="http://en.wikipedia.org/wiki/Phnom_Penh_Legend">here</a>
      for more information.</p>       
    <p>Lady Penh - this website - is all about <em>events in Phnom
        Penh</em>. We are a bunch of fellow PhnomPenhers with the feeling
      that our city is somewhat at crossroads: it's getting kind of
      tough to keep track of what's going on here - which had not been
      <em>too hard</em> until 2009 (to say the least). Phnom Penh is
      awakening... And this website is our participation to this
      process. <strong>What to do in Phnom Penh:</strong> you can now ask Lady
      Penh, spread the word!!! If you have any question, suggestion, 
      or just want to shout your love, be our guest:</p>
    <p class="center"><a href="mailto:team@ladypenh.com" class="bigred">team@ladypenh.com</a></p>
    <p>And of course, <a href="mailto:events@ladypenh.com">send us your events</a>!</p>
  </div>

  <br/>  
  <h2 class="highlight">Services</h2>
  <div>
    <p>
      <span class="bul">&sup;</span> Here are the <em>events 
        of the week</em> in a 
      <a href="/print.html">printable page</a>. 
      Every event we are aware of is listed,
      but some events might be added at the last minute, 
      so you should visit us often anyway ;-)
    </p>
    <p>
      <span class="bul">&sup;</span> Here is
      a <a href="/feed/atom">live RSS/Atom feed</a> featuring
      the <em>Phnom Penh Events of the day</em>. You can use it
      from your desktop or web feed reader. 
      If you count yourself among the ever-growing number of people who are in 
      charge of an interesting resource
      about Cambodia, you may consider publishing our feed. Get in touch with us
      if you need help/advice!
    </p>
    <p>
      <span class="bul">&sup;</span> You can also get the Phnom Penh 
      Events of the Day in your mailbox every morning (subscribe 
      <a href="http://feedburner.google.com/fb/a/mailverify?uri=LadyPenhEventsOfTheDay&amp;loc=en_US">here</a>), or follow us on 
      <a href="http://twitter.com/ladypenh">twitter</a>.
    </p>
  </div>    

  <br/>
  <h2 class="highlight"><a name="advertise">Advertise!</a></h2>
  <div>
    <p>
      We want to achieve a sustainable model for Lady Penh by 
      developing efficient advertising: we have one exclusive banner (700x90)
      and three spaces at the bottom (220x125). We are committed to ensure
      the advertisements won't disturb our visitors browsing experience 
      (no animations, no flickering): what is published on Lady Penh is guaranteed to be seen 
      by our visitors without bothering them. If your business 
      or initiative targets a Phnom Penh audience, advertising with us makes sense: 
      <em>we help you to communicate with this audience, and you help us to 
        promote events in Phnom Penh.</em> Deal.             
    </p>
    <p>
      Our pricing schemes are based on the number of monthly displays: our prices 
      increase with the desired frequency (up to the point your advertisement is 
      exclusive and displayed to every visitor). The number of displays is tracked 
      by a reliable third-party program, and we will send you a detailed display 
      report every month. <em>You know what you pay, and you know what you get.</em>
      <strong>Contact us to get our prices!</strong>
    </p>
    <p class="center">
      <a href="mailto:biz@ladypenh.com" class="bigred">biz@ladypenh.com</a>
    </p>
  </div>
</div>
{% endblock %}
