{% extends "base.html" %}
{% block main %}
<p class="big center">
  Filter by tag: 
  {% for tag in tags %}
  <a href="/archives/{{ tag }}.html">{{ tag }}</a>
  {% endfor %}
  <a href="/archives.html">All</a>
</p>
<div class="row">
  <div class="column grid_12">
    {% for article in articles %}
    <p class="arch big center">
      <a href="/article{{ article.numid }}.html">{{ article.date|date:"l M j Y" }} - {{ article.title }}</a>
    </p>
    <br/>
    {% endfor %}
    <p class="center">Older editorials and stuff are lost forever in the internet hyperspace...</p>
  </div>
</div>
{% endblock %}
