{% extends "base.html" %}
{% load markup %}
{% block head %}
<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
{% endblock %}
{% block main %}
{% if article %}
<div class="row">
  <div class="column grid_12" id="editorial">
    <div class="imgcontainer">
      <img src="/image/{{ article.picname }}"  alt="{{ article.picname }}"/>
      <div class="credits">{{ article.piccredits|markdown }}</div>
    </div>          
    <h2>{{ article.title }}</h2>
    {{ article.header|markdown }}
    {% if article.content %}    
    {{ article.content|markdown }}
    {% endif %}
    <div class="grey streched xxsmall">
      {% for tag in tags %}
      <a href="/archives/{{ tag }}.html" class="same">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  <div style="text-align: right;">
    <a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', 'http://ladypenh.com/article{{ article.numid }}.html', '{{ article.title }}')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  </div>
  {% if ads.banner %}
  <div class="center" style="height: 90px;">
    <a href="{{ ads.banner.link }}">
      <img src="/image/{{ ads.banner.image.name }}" alt="banner"/>
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}
