{% extends "base.html" %}
{% load markup %}
{% block head %}
<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
{% endblock %}
{% block main %}
{% if article %}
<div class="row">
  <div class="column grid_12" id="editorial">
    <div class="imgcontainer">
      <img src="/image/{{ article.picname }}"/>
      <div class="credits">{{ article.piccredits|markdown }}</div>
    </div>          
    <h2>{{ article.title }}</h2>
    {{ article.header|markdown }}
    {% if article.content %}    
    {{ article.content|markdown }}
    {% endif %}
    <div class="grey streched xxsmall">
      {% for tag in tags %}
      <a href="/archives/{{ tag }}.html">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  <div style="text-align: right;">
    <a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', 'http://ladypenh.com/article{{ article.numid }}.html', '{{ article.title }}')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  </div>
  <div class="center" style="height: 90px;">
    <script type='text/javascript'>
      bitt.instance = '291';
      bitt.zone = 'Lady Penh';
      bitt.location = 'default location';
      bitt.keywords = [];
      bitt.bitt('Banner');
    </script>
  </div>
  <div id="comments"><img class="loadicon" src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/loading.gif"/><em>Waiting for the comments to load...</em></div>
  <div style="visibility: hidden;" id="commentform">
    <h3>Enter your comment in the box below:</h3>
    <div class="center">    
      <div id="alert"></div>
      <p><textarea id="comment" class="grid_12">{{ comment }}</textarea></p>
      Pseudo <input id="pseudo" value="{{ pseudo }}"/> Password (optional) <input type="password" id="password" value="{{ password }}"/>
      <p><div id="recaptcha"></div></p>
      <input id="submit" type="submit" onclick="submit_comment()" value="Submit comment!"/>
    </div>
  </div>
  <script>    
    function display_commentform(){
      $('commentform').style.visibility = 'visible';
    }

    var firstload = true;
    function lpcomments_callback(resp){
      $('alert').innerHTML = resp['alert_text'];
      $('pseudo').value = resp['pseudo'];
      $('password').value = resp['password'];
      $('comment').value = resp['comment'];
      var comments = resp['comments'];
      var commentsstring = '<h3>' + comments.length + ' comments so far:' + '</h3>';
      $each(comments, function(comment){
        commentsstring += comment;
      });
      if (comments.length == 0) commentsstring += 'Be the first!'
      $('comments').innerHTML = commentsstring;
      if (firstload == true){
        firstload = false;
        Recaptcha.create('6Lf2yAcAAAAAADIPnn1z0_b6mrhDAqAP3KEeVefl', 'recaptcha', {
          theme: 'red',
          callback: display_commentform
        });      
      }
      else Recaptcha.reload();
    }
    
    new Request.JSONP({
      url: 'http://lp-comments.appspot.com/comments_callback/ladypenh.com/article{{ article.numid }}.html'
    }).send();

    function submit_comment(){
      new Request.JSONP({
        url: 'http://lp-comments.appspot.com/comments_callback/ladypenh.com/article{{ article.numid }}.html',
        data: {
          pseudo: $('pseudo').value, password: $('password').value, comment: $('comment').value,
          recaptcha_challenge_field: $('recaptcha_challenge_field').value,
          recaptcha_response_field: $('recaptcha_response_field').value}
      }).send();
    }
  </script>
</div>
{% endif %}
{% endblock %}
