<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <link rel="shortcut icon" href="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/favicon.png" type="image/x-icon"/>
  <link rel="alternate" type="application/atom+xml" href="/feed/atom" title="Phnom Penh events of the day"/>
  <title>Lady Penh: What to do in Phnom Penh</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}combined-ltr.css" />
  <script src="{{ MEDIA_URL }}combined-en.js" type="text/javascript"></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% if ads.banner %}
  <div class="center">
    <a href="{{ ads.banner.link }}">
      <img src="/image/{{ ads.banner.image.name }}" alt="banner"/>
    </a>
  </div>
  {% endif %}
  {# if logged #}
  {% if False %}
  <div class="center"><form action="index.html" method="get">Day offset: (enter a number) <input name="offset" value="{{ offset }}"/><input type="submit"/></form></div>
  {% endif %}
  <div class="row">
    <div class="column grid_5">
      <a href="/"><img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/logo.png" alt="Lady Penh: what to do in Phnom Penh?"/></a>
    </div>
    <div class="center grey column grid_5">
        <p>
          Lady Penh is the founder of Phnom Penh and tells you
	  about what's going on in Phnom Penh!
        </p>
    </div>
    <div id="menu" class="big center column grid_2">
      <a href="/about.html">About</a><br/>
      <a href="/friends.html">Friends</a><br/>
      <a href="/archives.html">Archives</a><br/>
    </div>
  </div>
  {% block main %}
  Here is the beef.
  {% endblock %}
  <div class="row">
    <div class="center grey stretched xxsmall column grid_12">
      Made with <a href="http://gnu.org">free software</a>!<br/>
      &copy; Lady Penh, team@ladypenh.com<br/><br/>
      <p id="sources">
        Get your daily fix of LP events:
        <a href="https://www.facebook.com/pages/Lady-Penh/296521477033474">Facebook</a> |
        <a href="http://twitter.com/ladypenh">Twitter</a> |
        <a href="/print.html">Print</a> |
        <a href="http://feedburner.google.com/fb/a/mailverify?uri=LadyPenhEventsOfTheDay&amp;loc=en_US">Mailing list</a>
      </p>
    </div>
    <div id="stamp" style="display: none;">{% now "r" %}</div>
  </div>

  {% if ads.left %}
  <div class="ad_left">
    <a href="{{ ads.left.link }}">
      <img src="/image/{{ ads.left.image.name }}" alt="left_ad"/>
    </a>
  </div>
  {% endif %}
  {% if ads.right %}
  <div class="ad_right">
    <a href="{{ ads.right.link }}">
      <img src="/image/{{ ads.right.image.name }}" alt="right_ad"/>
    </a>
  </div>
  {% endif %}


<!-- analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10672065-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
