{% extends "base.html" %}
{% load markup %}
{% load lp_filters %}
{% block main %}
<div class="center" style="height: 90px;">
  <script type='text/javascript'>
    bitt.instance = '291';
    bitt.zone = 'Lady Penh';
    bitt.location = 'default location';
    bitt.keywords = [];
    bitt.bitt('Banner');
  </script>
</div>
{% if highlights %}
<div class="row" id="nottomiss">
  <div class="column grid_12">
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/nottomiss.png" alt="not to miss!"/>
    {% for event in highlights %}
    <div>
      D+{{ event.daydiff }}&nbsp;
      {{ event.date|date:"D. d/m" }},      
      {% if event.time %}
      {{ event.time|time:"H:i" }} - 
      {% endif %}
      <a href="/events/{{ event.date }}.html">{{ event.title|markdown|striptags }}</a>
      {% if event.venue %}
      @ {{ event.venue.name }}
      {% endif %}
    </div>
    {% endfor %}
  </div>          
</div>
{% endif %}
<div class="row">
  <div class="grid_12">
    {% for d, label in daylabels %}
    <span class="day">
      {% ifequal day d %}
      {{ label }}
      {% else %}
      <a href="/events/{{ d }}.html">{{ label }}</a>
      {% endifequal %}
    </span>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="grid_12 thisday">
    {{ day|date:"l, F d" }}
  </div>
</div>

{% if not events %}
<div class="row">
  <img alt="sleep..." src="/image/event_type/sleep.png" class="column"/>
  <div class="column event">
    <p>
      Nothing here: why not sleep tonight for once?
    </p>
  </div>
</div>
{% endif %}
{% for event in events %}
<div class="row {% if event.description %}hasdetails{% endif %}">
  <img alt="{{ event.type }}" src="/image/event_type/{{ event.type }}.png" class="column"/>
  <div class="column event">
    <p class="title">
      {% if event.highlight %}
      <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/highlight.png" alt="not to miss!" style="vertical-align: middle;"/>
      {% endif %}
      {{ event.time|time:"H:i" }}
   
      {% if event.description %}
      <b>{{ event.title|markdown }}</b>
      {% else %}
      <span>{{ event.title|markdown }}</span>
      {% endif %}
      {% if event.venue %}
      @ <a href="/venue/{{ event.venue.key }}.html">{{ event.venue.name }}</a>
      {% endif %}
    </p>
  </div>
</div>
{% if event.description %}
<div class="row">
  <div class="column" style="width: 10px;">&nbsp;</div>
  <div class="column evthumb">
    {% if event.picname %}
    {% if event.haslargepic %}
    <a href="/image/event/large/{{ event.picname }}"><img src="/image/event/thumb/{{ event.picname }}" alt="illustration"/></a>
    {% else %}
    <img src="/image/event/thumb/{{ event.picname }}"/>
    {% endif %}
    {% endif %}
  </div>
  <div class="column evdetails">
      <p>
	{{ event.description|markdown }}
      </p>
      {% if event.organizer %}
      <p>
	<b>Organized by:</b> {{ event.organizer }}
      </p>
      {% endif %}
      {% if event.dayend %}
      <p>
	<b>Until:</b> {{ event.dayend|date:"F d" }}
      </p>
      {% endif %}

  </div>
</div>
{% endif %}
{% endfor %}

<div class="row">
  {% for i in 3|get_range %}
  <div class="center column grid_4">
    <script type='text/javascript'>
      bitt.instance = '291';
      bitt.zone = 'Lady Penh';
      bitt.location = 'default location';
      bitt.keywords = [];
      bitt.bitt('220x125');
    </script>
  </div>
  {% endfor %}
</div>
{% endblock %}
