{% extends "base.html" %}
{% load markup %}
{% load lp_filters %}
{% block main %}
{% if article %}
<div class="row">
  <div class="column grid_12" id="editorial">
    <div class="imgcontainer">
      <img src="/image/{{ article.picname }}" alt="{{ article.picname }}"/>
      <div class="credits">{{ article.piccredits|markdown }}</div>
    </div>          
    <h2>{{ article.title }}</h2>
    {{ article.header|markdown }}
    <div>
      {% if article.content %}
      <a href="/article{{ article.numid }}.html">Read complete article</a>
      {% endif %}
      <span class="streched xxsmall">      
        {% for tag in tags %}
        <a href="/archives/{{ tag }}.html">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </div>
</div>
{% endif %}
{% if highlights %}
<div class="row" id="nottomiss">
  <div class="column grid_12">
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/nottomiss.png" alt="not to miss!"/>
    {% for event in highlights %}
    <div>
      D+{{ event.daydiff }}&nbsp;
      {{ event.date|date:"D. d/m" }},      
      {% if event.time %}
      {{ event.time|time:"H:i" }} - 
      {% endif %}
      <a href="/events/{{ event.date }}.html">{{ event.title|markdown|striptags }}</a>
      {% if event.venue %}
      @ {{ event.venue.name }}
      {% endif %}
    </div>
    {% endfor %}
  </div>          
</div>
{% endif %}
<div class="row">
  <div class="grid_12">
    {% for d, label in daylabels %}
    <span class="day">
      {% ifequal day d %}
      {{ label }}
      {% else %}
      <a href="/events/{{ d }}.html">{{ label }}</a>
      {% endifequal %}
    </span>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="grid_12 section">
    {{ day|date:"l, F d" }}
  </div>
</div>

{% if not events %}
<div class="row">
  <img alt="sleep..." src="/image/event_type/sleep.png" class="column"/>
  <div class="column event">
    <p>
      Nothing here: please <a href="mailto:events@ladypenh.com">send us</a> events if we're missing something!
    </p>
  </div>
</div>
{% endif %}

{% for event in events %}
{% include "event.html" %}
{% endfor %}

{% if reminders %}
<div class="row">
  <div class="grid_12 section">
    Regulars and reminders
  </div>
</div>
{% for event in reminders%}
{% include "event.html" %}
{% endfor %}
{% endif %}

<div class="row">
  {% for i in 3|get_range %}
  <div class="center column grid_4">
    <script type='text/javascript'>
      bitt.instance = '291';
      bitt.zone = 'Lady Penh';
      bitt.location = 'default location';
      bitt.keywords = [];
      bitt.bitt('220x125');
    </script>
  </div>
  {% endfor %}
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a3b17ef30493795"></script>
{% endblock %}
