{% load markup %}
<div class="row {% if event.description %}hasdetails{% endif %}">
  <img alt="{{ event.type }}" src="/image/event_type/{{ event.type }}.png" class="column"/>
  <div class="column event">
    <div class="title">
      {% if event.highlight %}
      <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/highlight.png" alt="not to miss!" style="vertical-align: middle;"/>
      {% endif %}
      {# don't display time if exhibition reminder #}
      {% ifequal event.type "exhibition" %}
      {% ifequal event.date day %}
      {{ event.time|time:"H:i" }}
      {% endifequal %}
      {% else %}
      {{ event.time|time:"H:i" }}
      {% endifequal %}
      {% if event.description %}
      <b>{{ event.title|markdown|removetags:"p" }}</b>
      {% else %}
      <span>{{ event.title|markdown|removetags:"p" }}</span>
      {% endif %}
      {% if event.venue %}
      @ <a href="/venue/{{ event.venue.key }}.html">{{ event.venue.name }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% if event.description %}
<div class="row">
  <div class="column" style="width: 10px;">&nbsp;</div>
  <div class="column evthumb">
    {% if event.picname %}
    {% if event.haslargepic %}
    <a href="/image/event/large/{{ event.picname }}"><img src="/image/event/thumb/{{ event.picname }}" alt="illustration"/></a>
    {% else %}
    <img src="/image/event/thumb/{{ event.picname }}" alt="event pic"/>
    {% endif %}
    {% endif %}
  </div>
  <div class="column evdetails">
    {{ event.description|markdown }}
    {% if event.organizer %}
    <p>
    <b>Organized by:</b> {{ event.organizer }}
    </p>
    {% endif %}
    {% if event.dayend %}
    <p>
      <b>Until:</b> {{ event.dayend|date:"F d" }}
    </p>
    {% endif %}
    <p class="center">
    <a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', 'http://ladypenh.com/events/{{ day }}.html', '{{ event.title }}: {{ event.date|date:"D. d/m" }}, {{ event.time|time:"H:i" }}')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
    </p>
  </div>
</div>
{% endif %}
