{% extends "base.html" %}
{% block main %}
<div class="center">
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/friendsofladypenh.png" alt="Friends of Lady Penh"/>
    <br/>
  </p>
  <br/><br/>
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/places.png" alt="Places"/>
    <br/><br/>
    <div>
      Exhibitions, artists, media-lounge, workshops at the <a target="_blank" href="http://meta-house.com">Meta House!</a> <em>6 Street 264</em>
    </div>
    <div>
      <a target="_blank" href="http://www.reyum.org">Reyum</a> Institute of Arts and Culture, <em>47 Street 178</em>
    </div>
    <div>
      Lounge, films and parties at <a target="_blank" href="http://www.club-pp.blogspot.com">The Club</a>/Gasolina, <em>56 Street 57</em>
    </div>
    <div>
      <a target="_blank" href="http://www.bophana.org">Bophana</a> AudioVisual Resource Center, <em>64 Street 200</em>
    </div>
    <div>
      The French Cultural Center <a target="_blank" href="http://ccf-cambodge.org">(CCF)</a>, not only for French! <em>218 Street 184</em>
    </div>
    <div>
      <a target="_blank" href="http://shadow-puppets.org">Sovanna Phum</a> Arts Association, <em>111 Street 360</em>
    </div>
    <div>
      Where food and art meet: <a target="_blank" href="http://www.javaarts.org/">Java Arts Café</a>, <em>56e1 Sihanouk Blvd</em>
    </div>
  </p>
  <br/><br/>
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/people.png" alt="People"/>
    <br/><br/>
    <div>
      Meet the <a target="_blank" href="http://barcampphnompenh.org">Barcamp</a> team, the people behind the one open IT conferences cycle in Cambodia.
    </div>
    <div>
      The famous International Circus Festival of Cambodia: <a target="_blank" href="http://tinitinou.org">Tini Tinou!</a>
    </div>
    <div>
      <a target="_blank" href="http://women.open.org.kh">Women Empowerment for Social Change,</a> promoting gender equality
    </div>
    <div>
      The annual <a target="_blank" href="http://mekongriverswim.blogspot.com/">Mekong River Swim</a>
    </div>
    <div>
      <a target="_blank" href="http://www.phnompenhplayers.blogspot.com/">Phnom Penh Players:</a> theater in Phnom Penh!
    </div>
    <div>
      The free software zealot in Phnom Penh: <a target="_blank" href="http://tic.zenerves.net">Tropical Ice Cube</a>
    </div>
    <div>
      Andy Brouwer's <a target="_blank" href="http://www.andybrouwer.co.uk/blog/">blog</a> about Cambodia - Temples, Books, Films and ruminations...
    </div>
  </p>    
  <br/><br/>
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/sites.png" alt="Sites"/>
    <br/><br/>
    <div>
      <a target="_blank" href="http://angkorone.com/">AngkorOne</a>: social network and portal for Khmers around the world!
    </div>
    <div>
      Find the business you're looking for with the <a target="_blank" href="http://www.yellowpages-cambodia.com">Cambodian Yellow Pages</a>!
    </div>
    <div>
      <a target="_blank" href="http://www.phnompenhpost.com">The Phnom Penh Post:</a> oldest existing independant newspaper in Cambodia, available online!
    </div>
    <div>
      <a target="_blank" href="http://ka-set.info">Ka-set:</a> online newspaper about Cambodia, in Khmer, English and French
    </div>
    <div>
      <a target="_blank" href="http://proceskhmersrouges.net">Carnets d'un tribunal</a> is a blog (mostly in French) dedicated to the Khmer Rouge Trial
    </div>
    <div>
      Movies, lifestyle, music, people by <a target="_blank" href="http://khmerbird.com">khmerbird.com</a>
    </div>
    <div>        
      All things Cambodia: <a target="_blank" href="http://detailsaresketchy.wordpress.com">Details are Sketchy</a>
    </div>
    <div>
      French-speaking forum and resources about Cambodia on the <a target="_blank" href="http://www.khmer-network.com">Khmer Network</a>
    </div>
    <div>
      A regular review of the Cambodian language press - in English: <a target="_blank" href="http://cambodiamirror.wordpress.com">the Mirror</a>
    </div>
    <div>
      <a target="_blank" href="http://www.mekongpirates.net">The Mekong Pirates</a> are the biggest band in Phnom Penh (13 members!), without a doubt
    </div>
    <div>
      <a target="_blank" href="http://www.roubroum.blogspot.com">Cambodian football</a> and <a target="_blank" href="http://www.roubroum.wordpress.com">everything in khmer</a> by Ung Chamroeun
    </div>
    <div>
      Cambodia Out: Gay &amp; Lesbian community <a target="_blank" href="http://www.cambodiaout.webs.com/">website</a>.
    </div>
  </p>
  <br/><br/>
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/bars.png" alt="Bars"/>
    <br/><br/>
    <div>
      <a target="_blank" href="http://equinox-cambodia.com">Equinox,</a> your favorite bar on Street 278
    </div>
    <div>
      A nice restaurant and a nice website: <a target="_blank" href="http://www.frizz-restaurant.com">Frizz</a>, <em>64 Street 240</em>
    </div>
    <div>
      <a target="_blank" href="http://www.adcafe.net/cambodia-guide/phnom-penh/bars/dodo-rhum-house.html">The Dodo Rhum House</a> - if you like good rhum and don't know it, there's something wrong. <em>42C Street 178</em>
    </div>
    <div>
      It'a all lush and quiet at the <a target="_blank" href="http://www.elephantguide.com/french-mediterranean-restaurants-in-phnom-penh/gasolina.html">Gasolina</a>, <em>56 Street 57</em>
    </div>
    <div>
      L'Atelier, quality café and brasserie next to the Russian market. <em>128 Street 450</em>
    </div>
    <div>
      The Hagar restaurant, <em>3 Street 288 (BKK)</em>. Visit the <a href="http://www.hagarinternational.org/" target="_blank">Hagar International website</a>!
    </div>
  </p>
  <br/><br/>
  <p>
    <a href="mailto:team@ladypenh.com">Contact us</a> to become a friend<br/>
    and help us in promoting cultural life in Phnom Penh!
  </p>
</div>
{% endblock %}
