{% extends "base.html" %}
{% load markup %}
{% block main %}
<div class="center">
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/friendsofladypenh.png" alt="Friends of Lady Penh"/>
    <br/>
  </p>
  <br/><br/>
  {% for section, friendlist in friends.items %}
  <p>
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/{{ section }}.png" alt="Places"/>
    <br/><br/>
  {% for friend in friendlist %}
    <div>{{ friend.desc|markdown }}</div>
  {% endfor %}
  </p><br/><br/>
  {% endfor %}
  <p>
    <a href="mailto:team@ladypenh.com">Contact us</a> to become a friend<br/>
    and help us in promoting cultural life in Phnom Penh!
  </p>
</div>
{% endblock %}
