{% extends "base.html" %}
{% load markup %}
{% load lp_filters %}
{% block main %}
{% if article %}
<div class="row">
  <div class="column grid_12" id="editorial">
    <div class="imgcontainer">
      <img src="/image/{{ article.picname }}"/>
      <div class="credits">{{ article.piccredits|markdown }}</div>
    </div>          
    <h2>{{ article.title }}</h2>
    {{ article.header|markdown }}
    <div>
      {% if article.content %}
      <a href="/article{{ article.numid }}.html">Read complete article and comments!</a>
      {% else %}
      <a href="/article{{ article.numid }}.html#comments">Add/read comments <span id="commentsnb"></span>!</a><br/>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% if highlights %}
<div class="row" id="nottomiss">
  <div class="column grid_12">
    <h2>not to miss</h2>
    {% for event in highlights %}
    <div class="pointer" 
         onclick="openandselect('{{ event.date }}', '{{ event.numid }}')">
      D+{{ event.daydiff }}&nbsp; {{ event.date|date:"D. d/m" }}, {{ event.time|time:"H:i" }}
      <strong>- {{ event.title }}</strong>,
      {{ event.venue.name }}
    </div>
    {% endfor %}
  </div>          
</div>
{% endif %}
<noscript>You will have hard time browsing Lady Penh without javascript enabled.You may want to see the <a href="/print.html" target="_blank">printable weekly listing</a>.</noscript>
{% if daysinfo %}
<div class="row">
  <div id="program" class="reverse column grid_6">
    <img src="{{ MEDIA_URL }}ladypenh/{{ theme_name }}/weekly-selection.png" alt="weekly selection"/>        
    <div id="daybrowser" class="big bold">
      {% for day, label in daylabels %}        
      <span id="tog{{ day }}" class="pointer" onclick="slideday('{{ day }}', true)">{{ label }}</span>
      {% endfor %}
    </div>
    {% for day,events,oneliners in daysinfo %}
    <div id="day{{ day }}">
      <table width="100%" cellspacing="0" class="stretched" style="text-align: left;">        
        {% if events %}        
        {% for event in events %}
        <tr onclick="slidedetails('ev{{ event.numid }}', 'details-{{ event.numid }}')"
            class="pointer">
          <td class="evicon"><img height="35px" width="35px" src="/image/event_type/{{ event.type }}.png" alt="{{ event.type }}"/></td>
          <td id="ev{{ event.numid }}">
            <strong>{{ event.title }}</strong><br/>
            {{ event.time|time:"H:i" }} - {{ event.venue.name }}
          </td>
          <td style="display:none;" id="details-{{ event.numid }}">
            <p>
              <h2>{{ event.title }} @&nbsp;{{ event.venue.name }} {% if event.organizer %}by&nbsp;{{ event.organizer }}{% endif %}</h2>              
              <div style="min-height: {{ event.picheight }}px; _height: {{ event.picheight }}px;">
                {% if event.picname %}
                {% if event.haslargepic %}
                <a href="javascript:winpop('/image/event/large/{{ event.picname }}')"><img class="illus" src="/image/event/thumb/{{ event.picname }}" height="{{ event.picheight }}" width="{{ event.picwidth }}"/></a>
                <noscript><a href="/image/event/large/{{ event.picname }}">large</a></noscript>
                {% else %}
                <img class="illus" src="/image/event/thumb/{{ event.picname }}" height="{{ event.picheight }}" width="{{ event.picwidth }}"/>
                {% endif %}
                {% endif %}
                <div class="highlight"><span class="bul">&sup;</span> {{ event.venue.address }}{% if event.venue.mapurl %} (<a target="_blank" href="{{ event.venue.mapurl }}">map</a>){% endif %}</div>
                <div class="highlight"><span class="bul">&sup;</span> {{ event.date|date:"l M. j" }}, {{event.time|time:"H:i"}}</div>
                <p>{{ event.description|markdown }}</p>
                {% if event.venue.linktext and event.venue.linkurl %}<p><a target="_blank" href="{{ event.venue.linkurl }}">{{ event.venue.linktext }}</p>{% endif %}
              </div>
              <div class="center">
                <a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', 'http://ladypenh.com/event/{{ event.numid }}.html', '{{ event.title }} / {{ event.date|date:"D. d/m" }}, {{ event.time|time:"H:i" }}')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
              </div>
              <noscript><a href="/event/{{ event.numid }}.html">permalink</a></noscript>
            </p>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="evicon"><img height="35px" width="35px" src="/image/event_type/sleep.png" alt="sleep..."/></td>
          <td style="width: 340px; clear: left;">
            Why not sleep tonight for once?
          </td>
        </tr>
        {% endif %}
        <tr style="display:none;"><td id="ol{{ day }}">
            <p>
              <h2>{{ day|date:"l M j" }}: also on that day</h2>
              {% for oneliner in oneliners %}
              <div class="small">
                {{ oneliner.title|markdown }}
              </div>
              {% endfor %}
              <div class="small"><a href="mailto:events@ladypenh.com">Report an event!</a></div>
            </p>
        </td></tr>
      </table>
    </div>
    {% endfor %}      
  </div>
  <div class="column grid_6">
    <div id="detailsslider">&nbsp;</div>
  </div>    
</div>
{% endif %}
<script type="text/javascript">
  var articlenumid = '{{ article.numid }}';
  var defaultday = '{{ days.0 }}';
  var daysliders = new Object();
  {% for day in days %}        
  daysliders['{{ day }}'] = new Fx.Slide('day{{ day }}');
  daysliders['{{ day }}'].hide();
  {% endfor %}
</script>
<div class="row" id="openx">
  {% for i in 4|get_range %}
  <div class="center column grid_3">
    <script type='text/javascript'>
      OA_show({{ forloop.counter }});
    </script>
  </div>
  {% endfor %}
</div>
{% endblock %}
