{% extends "base.html" %}
{% block main %}
<div class="center" style="height: 90px;">
  <script type='text/javascript'>
    bitt.instance = '291';
    bitt.zone = 'Lady Penh';
    bitt.location = 'default location';
    bitt.keywords = [];
    bitt.bitt('Banner');
  </script>
</div>
<div class="row">
  <div class="column grid_12 arch center">
    {% for venue in venues %}
    {% if venue.ladypenh_url %}
    <a href="/{{ venue.ladypenh_url }}.html">{{ venue.name }}</a>
    {% else %}
    <a href="/venue/{{ venue.key }}.html">{{ venue.name }}</a>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
